body{
    color: aliceblue;
    font-size:20px;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    background-image: url("image2.jpg");
    background-position: top left;
    background-repeat: repeat;
    background-size: cover;
}

p{
    font-family: arial;
    font-size: 30px;
    color:rgba(30%, 90%, 100%,50%);
    font-weight:750;
    text-align: center;
    font-style:italic;
    text-transform: capitalize;
    text-decoration: underline wavy;
    text-shadow: 1px 1px 2px #FFF;
}
#para{
    color: bisque;
    display: inline-block;
}

